<a href="https://colab.research.google.com/github/saciva-team-2b/Saciva-University-Recommendation-System-2B/blob/main/Saciva_University_Recommendation_System_2B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **College Scorecard Data**

## **Data Exploration and Analysis**

1. College Scorecard (2024)
2. College Scorecard Most Recent Institution-Level Data (2024)
3. College Scorecard Most Recent Data by Field of Study (2024)

In [13]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [17]:
institutionDataFilepath = os.path.join(os.getcwd(), 'datasets', 'CollegeScorecardMostRecentInstitution06102024', 'Most-Recent-Cohorts-Institution.csv')
institutionDataDF = pd.read_csv(institutionDataFilepath, low_memory=False)
institutionDataDF.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,COUNT_WNE_MALE0_P11,COUNT_WNE_MALE1_P11,GT_THRESHOLD_P11,MD_EARN_WNE_INC1_P11,MD_EARN_WNE_INC2_P11,MD_EARN_WNE_INC3_P11,MD_EARN_WNE_INDEP0_P11,MD_EARN_WNE_INDEP1_P11,MD_EARN_WNE_MALE0_P11,MD_EARN_WNE_MALE1_P11
0,100654,100200.0,1002.0,Alabama A & M University,Normal,AL,35762,Southern Association of Colleges and Schools C...,www.aamu.edu/,www.aamu.edu/admissions-aid/tuition-fees/net-p...,...,800.0,777.0,0.6250,36650.0,41070.0,47016.0,38892.0,41738.0,38167.0,40250.0
1,100663,105200.0,1052.0,University of Alabama at Birmingham,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,https://www.uab.edu/,https://tcc.ruffalonl.com/University of Alabam...,...,1811.0,1157.0,0.7588,47182.0,51896.0,54368.0,50488.0,51505.0,46559.0,59181.0
2,100690,2503400.0,25034.0,Amridge University,Montgomery,AL,36117-3553,Southern Association of Colleges and Schools C...,https://www.amridgeuniversity.edu/,https://www2.amridgeuniversity.edu:9091/,...,75.0,67.0,0.5986,35752.0,41007.0,NaN,NaN,38467.0,32654.0,49435.0
3,100706,105500.0,1055.0,University of Alabama in Huntsville,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,www.uah.edu/,finaid.uah.edu/,...,810.0,802.0,0.7810,51208.0,62219.0,62577.0,55920.0,60221.0,47787.0,67454.0
4,100724,100500.0,1005.0,Alabama State University,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,www.alasu.edu/,www.alasu.edu/cost-aid/tuition-costs/net-price...,...,1224.0,1049.0,0.5378,32844.0,36932.0,37966.0,34294.0,31797.0,32303.0,36964.0

In [38]:
# find unnecessary columns and remove them
dropColumns = ['UNITID', 'OPEID', 'OPEID6', 'STABBR', 'INSTURL', 'NPCURL', 'SCH_DEG', 'NUMBRANCH']

# INSTNM - institution name
# ACCREDAGENCY - an organization that evaluates and certifies that an institution or program meets certain standards
# HCM2 - the more severe HCM2 requires colleges to pay out money to students before being reimbursed by Federal Student Aid
# MAIN - main campus 1, branch 0
# PREDEG - predominant degree received at the college
# HIGHDEG - highest possible degree received at the college
# CONTROL - public 1, private non-profit 2, private for-profit 3
# ST_FIPS - state as a number

cleanInstitutionDataDF = institutionDataDF.drop(dropColumns, axis=1)

cleanInstitutionDataDF['ST_FIPS']

0        1
1        1
2        1
3        1
4        1
        ..
6479    12
6480    39
6481     4
6482     4
6483    34
Name: ST_FIPS, Length: 6484, dtype: int64